<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kdfy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kdfy.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kdfy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$kdfy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="FriendlyContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:o7r8wgkdhz.database.windows.net,1433;Initial Catalog=kdfy_db;User ID=OptInApp@o7r8wgkdhz;Password={your_password_here};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:o7r8wgkdhz.database.windows.net,1433;Database=kdfy_db;User ID=OptInApp@o7r8wgkdhz;Password={your_password_here};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Friendly.Context.FriendlyContext, Friendly" MigrationConfiguration="Friendly.Migrations.Configuration, Friendly" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=kdfy;AccountKey=KP4Jq7A5cU2w+hVXQB3fMYGLIDd98qbAGm+Kv00tg9wgGvKBzWcf6rA842rjbgyhTbf5y6pRNOS3P9NzEtYIuw==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=kdfy;AccountKey=KP4Jq7A5cU2w+hVXQB3fMYGLIDd98qbAGm+Kv00tg9wgGvKBzWcf6rA842rjbgyhTbf5y6pRNOS3P9NzEtYIuw==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FriendlyContext-Web.config Connection String">
      <ParameterValue>Server=tcp:o7r8wgkdhz.database.windows.net,1433;Database=kdfy_db;User ID=OptInApp@o7r8wgkdhz;Password={your_password_here};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>